/****************
*** TYPOGRAPHY***
*****************/

p, span {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
}

/*****************
***** Header *****
*****************/

header {
    border-bottom: 1px solid #DBDCE0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 195px;
    padding: 0 95px;
}

.header__logo {
    width: 290px;
}

header #toggle-wrapper {
    display: flex;
}

header #toggle-wrapper:hover {
    border-radius: 5.30667px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.12);
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

header button {
    background-color: #F1F1F1;
    border: none;
    color: #888888;
    cursor: pointer;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24.7644px;
    line-height: 35px;
    height: 80px;
    width: 200px;
}

header button:first-child {
    border-radius: 5.30667px 0px 0px 5.30667px;
}

header button:last-child {
    border-radius: 0px 5.30667px 5.30667px 0px;
}

header button.header__button--selected {
    background-color: unset;
    border: 1.76889px solid #F1F1F1;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        height: 206px;
        justify-content: center;;
    }

    .header__logo {
        margin-bottom: 30px;
        width: 246px;
    }

    header button {
        font-size: 12.69px;
        height: 40px;
        width: 100px;
    }
}

/****************
*** Main Feed ***
****************/

#main-feed {
    border-bottom: 1px solid #DBDCE0;
    padding: 44px 93px 0 93px;
}

a.post-preview-wrapper {
    color: #000;
    opacity: 1;
    text-decoration: none;
}

a.post-preview-wrapper:not(:last-child) .post-preview {
    border-bottom: 1px solid #DBDCE0;
}

.post-preview {
    align-items: flex-start;
    display: flex;
    padding: 46px 0;
}

.post-preview:hover .post-preview__content{
    opacity: .65;
}

.post-preview__date {
    color: #9E9E9E;
    flex: 0 0 auto;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    margin: 8px 34px 6px 0;
}

.post-preview__date--desktop {
    display: block;
}

.post-preview__date--mobile {
    display: none;
}

.post-preview__content {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    margin-right: 100px;
    transition: all ease-in-out .2s;
}

.post-preview__content h2.content-headline {
    margin-bottom: 9px;
}

.post-preview .content-author {
    color: #9E9E9E;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
}

.post-preview__content .content-description {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 12px;
}

.post-preview__image {
    flex: 0 0 auto;
}

.post-preview__image img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    #main-feed {
        padding: 22px 15px;
    }
    .post-preview {
        padding: 25px 0;
    }

    .post-preview__date--desktop {
        display: none;
    }

    .post-preview__date--mobile {
        display: block;
        margin-top: 0;
        font-size: 13px;
        line-height: 16px;
    }

    .post-preview__content {
        margin-right: 12px;
    }

    .post-preview__image {
        flex: 0 1 40%;
    }

    .post-preview__content h2.content-headline {
        font-size: 23px;
        line-height: 24px;
    }

    .post-preview__content .content-description {
        font-size: 15px;
        line-height: 21px;
    }

    .post-preview .content-author {
        font-size: 13px;
        line-height: 16px;
    }
}

/*****************
*** Pagination ***
*****************/

#page-navigation {
    align-items: center;
    display: flex;
    height: 142px;
    justify-content: flex-end;
    padding: 0 42px 16px 0;
}

#page-navigation .current-page {
    margin-right: 16px;
}

#page-navigation img {
    cursor: pointer;
    height: 24px;
}

#page-navigation img:hover {
    opacity: .65;
    transition: all ease-in-out .15s;
}

#page-navigation #previous-page {
    margin-right: 34px;
}

@media (max-width: 1024px) {
    #page-navigation {
        height: 109px;
        padding-right: 36px;
    }
}

/*****************
***** Footer *****
*****************/

footer {
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 22px;
    height: 95px;
    justify-content: center;
    line-height: 25px;
}

footer .footer__spacer {
    margin: 0 4px;
}

@media (max-width: 1024px) {
    footer {
        flex-direction: column;
    }

    footer .footer__spacer {
        display: none;
    }

    footer .footer__developer {
        font-weight: normal;
    }
}